.container {
    display: contents;
}

.container .wrapper {
    position: relative;
    display: inline-block;
}

.container .input {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 12px;
    padding-left: 46px;
    gap: 8px;
    min-width: 310px;
    min-height: 48px;
    border: 1px solid #CFCFCF;
    border-radius: 12px;
    background-image: url('../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 32px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(29, 29, 29, 1);
}