/* Desktop styles (default) */
.wrapper {
    display: flex;
    flex-direction: column;
}

.controlsRowDesktop {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 16px;
}

.legendGroup {
    display: flex;
    align-items: center;
    gap: 30px;
}

.legendItem {
    display: flex;
    align-items: center;
    min-height: 48px;
    min-width: 150px;
    padding: 15px 20px 15px 14px;
    gap: 15px;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    background: #fff;
    color: #676767;
    border-radius: 12px;
    border: 1px solid #fff;
    transition: .3s;
    cursor: pointer;
    box-sizing: border-box;
}

.filtersGroup {
    display: flex;
    gap: 8px;
}

.desktopTable {
    display: block;
    /* border-radius: 10px; */
    /* border: 1px solid #CFCFCF; */
    overflow: hidden;
}

.mobileCards {
    display: none;
}

.dotOnline,
.dotOffline,
.dotWarning {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dotOnline {
    background: rgba(132, 227, 173, 1);
}

.dotOffline {
    background: rgba(207, 207, 207, 1);
}

.dotWarning {
    background: #f39c12;
}

.controlsColumnMobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legendItem:hover,
.activeFilter {
    border-color: #000;
}


.thead {
    background: #CFCFCF;
}

.th {
    padding: 15px 30px !important;
    /* border-right: 1px solid rgba(103, 103, 103, 0.45); */
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1D1D1D;
    text-align: left;
}

.th:last-child {
    max-width: 250px;
    width: 250px;
}

.td {
    padding: 10px 30px 10px 20px !important;
    /* border: 1px solid #CFCFCF !important; */
}

.editIcon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.53734 16C1.2208 16 0.902066 15.9689 0.584834 15.9055C0.337387 15.856 0.144004 15.6626 0.0945332 15.4152C-0.223323 13.8261 0.27104 12.1933 1.41696 11.0473L9.52345 2.94084C9.64064 2.82362 9.79961 2.75777 9.9654 2.75777C10.1312 2.75777 10.2902 2.82362 10.4074 2.94084L13.0592 5.5926C13.3032 5.83671 13.3032 6.23244 13.0591 6.47652L4.95264 14.583C4.03554 15.5001 2.80624 16 1.53734 16ZM1.26077 14.7392C2.29747 14.8189 3.32238 14.4454 4.06869 13.6991L11.7332 6.03459L9.9654 4.26674L2.3009 11.9312C1.55453 12.6776 1.18092 13.7024 1.26077 14.7392Z' fill='%23676767'/%3e%3cpath d='M13.943 4.70869C13.6989 4.46459 13.6989 4.06885 13.943 3.82478L14.385 3.38283C14.8724 2.89543 14.8724 2.1024 14.385 1.615C13.8976 1.12761 13.1046 1.12761 12.6171 1.615L12.1752 2.05693C11.9311 2.30103 11.5354 2.30103 11.2913 2.05696C11.0472 1.81289 11.0472 1.41712 11.2913 1.17305L11.7332 0.731092C12.708 -0.243698 14.2941 -0.243698 15.2689 0.731092C16.2437 1.70591 16.2437 3.29198 15.269 4.26677L14.8269 4.70876C14.5829 4.9527 14.1872 4.95286 13.943 4.70869Z' fill='%23676767'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    width: 44px;
    height: 44px;
}

.editIcon:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.53734 16C1.2208 16 0.902066 15.9689 0.584834 15.9055C0.337387 15.856 0.144004 15.6626 0.0945332 15.4152C-0.223323 13.8261 0.27104 12.1933 1.41696 11.0473L9.52345 2.94084C9.64064 2.82362 9.79961 2.75777 9.9654 2.75777C10.1312 2.75777 10.2902 2.82362 10.4074 2.94084L13.0592 5.5926C13.3032 5.83671 13.3032 6.23244 13.0591 6.47652L4.95264 14.583C4.03554 15.5001 2.80624 16 1.53734 16ZM1.26077 14.7392C2.29747 14.8189 3.32238 14.4454 4.06869 13.6991L11.7332 6.03459L9.9654 4.26674L2.3009 11.9312C1.55453 12.6776 1.18092 13.7024 1.26077 14.7392Z' fill='white'/%3e%3cpath d='M13.943 4.70869C13.6989 4.46459 13.6989 4.06885 13.943 3.82478L14.385 3.38283C14.8724 2.89543 14.8724 2.1024 14.385 1.615C13.8976 1.12761 13.1046 1.12761 12.6171 1.615L12.1752 2.05693C11.9311 2.30103 11.5354 2.30103 11.2913 2.05696C11.0472 1.81289 11.0472 1.41712 11.2913 1.17305L11.7332 0.731092C12.708 -0.243698 14.2941 -0.243698 15.2689 0.731092C16.2437 1.70591 16.2437 3.29198 15.269 4.26677L14.8269 4.70876C14.5829 4.9527 14.1872 4.95286 13.943 4.70869Z' fill='white'/%3e%3c/svg%3e ");
}

.deleteIcon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.53734 16C1.2208 16 0.902066 15.9689 0.584834 15.9055C0.337387 15.856 0.144004 15.6626 0.0945332 15.4152C-0.223323 13.8261 0.27104 12.1933 1.41696 11.0473L9.52345 2.94084C9.64064 2.82362 9.79961 2.75777 9.9654 2.75777C10.1312 2.75777 10.2902 2.82362 10.4074 2.94084L13.0592 5.5926C13.3032 5.83671 13.3032 6.23244 13.0591 6.47652L4.95264 14.583C4.03554 15.5001 2.80624 16 1.53734 16ZM1.26077 14.7392C2.29747 14.8189 3.32238 14.4454 4.06869 13.6991L11.7332 6.03459L9.9654 4.26674L2.3009 11.9312C1.55453 12.6776 1.18092 13.7024 1.26077 14.7392Z' fill='%23676767'/%3e%3cpath d='M13.943 4.70869C13.6989 4.46459 13.6989 4.06885 13.943 3.82478L14.385 3.38283C14.8724 2.89543 14.8724 2.1024 14.385 1.615C13.8976 1.12761 13.1046 1.12761 12.6171 1.615L12.1752 2.05693C11.9311 2.30103 11.5354 2.30103 11.2913 2.05696C11.0472 1.81289 11.0472 1.41712 11.2913 1.17305L11.7332 0.731092C12.708 -0.243698 14.2941 -0.243698 15.2689 0.731092C16.2437 1.70591 16.2437 3.29198 15.269 4.26677L14.8269 4.70876C14.5829 4.9527 14.1872 4.95286 13.943 4.70869Z' fill='%23676767'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    width: 44px;
    height: 44px;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.375 12.875V3.75H0.75C0.404822 3.75 0.125 3.47018 0.125 3.125C0.125 2.77982 0.404822 2.5 0.75 2.5H3.93753C4.22707 1.0736 5.48815 0 7 0C8.51185 0 9.77293 1.0736 10.0625 2.5H13.25C13.5952 2.5 13.875 2.77982 13.875 3.125C13.875 3.47018 13.5952 3.75 13.25 3.75H2.625V12.875C2.625 13.9105 3.46446 14.75 4.5 14.75H9.5C10.5355 14.75 11.375 13.9105 11.375 12.875V5.625C11.375 5.27982 11.6548 5 12 5C12.3452 5 12.625 5.27982 12.625 5.625V12.875C12.625 14.6009 11.2259 16 9.5 16H4.5C2.7741 16 1.375 14.6009 1.375 12.875ZM3.875 11.625V6.875C3.875 6.52982 4.15482 6.25 4.5 6.25C4.84518 6.25 5.125 6.52982 5.125 6.875V11.625C5.125 11.9702 4.84518 12.25 4.5 12.25C4.15482 12.25 3.875 11.9702 3.875 11.625ZM6.375 11.625V6.875C6.375 6.52982 6.65482 6.25 7 6.25C7.34518 6.25 7.625 6.52982 7.625 6.875V11.625C7.625 11.9702 7.34518 12.25 7 12.25C6.65482 12.25 6.375 11.9702 6.375 11.625ZM8.875 11.625V6.875C8.875 6.52982 9.15482 6.25 9.5 6.25C9.84518 6.25 10.125 6.52982 10.125 6.875V11.625C10.125 11.9702 9.84518 12.25 9.5 12.25C9.15482 12.25 8.875 11.9702 8.875 11.625ZM7 1.25C6.18361 1.25 5.48912 1.77176 5.23172 2.5H8.76828C8.51088 1.77176 7.81639 1.25 7 1.25Z' fill='%23676767'/%3e%3c/svg%3e ");
}

.deleteIcon:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.375 12.875V3.75H0.75C0.404822 3.75 0.125 3.47018 0.125 3.125C0.125 2.77982 0.404822 2.5 0.75 2.5H3.93753C4.22707 1.0736 5.48815 0 7 0C8.51185 0 9.77293 1.0736 10.0625 2.5H13.25C13.5952 2.5 13.875 2.77982 13.875 3.125C13.875 3.47018 13.5952 3.75 13.25 3.75H2.625V12.875C2.625 13.9105 3.46446 14.75 4.5 14.75H9.5C10.5355 14.75 11.375 13.9105 11.375 12.875V5.625C11.375 5.27982 11.6548 5 12 5C12.3452 5 12.625 5.27982 12.625 5.625V12.875C12.625 14.6009 11.2259 16 9.5 16H4.5C2.7741 16 1.375 14.6009 1.375 12.875ZM3.875 11.625V6.875C3.875 6.52982 4.15482 6.25 4.5 6.25C4.84518 6.25 5.125 6.52982 5.125 6.875V11.625C5.125 11.9702 4.84518 12.25 4.5 12.25C4.15482 12.25 3.875 11.9702 3.875 11.625ZM6.375 11.625V6.875C6.375 6.52982 6.65482 6.25 7 6.25C7.34518 6.25 7.625 6.52982 7.625 6.875V11.625C7.625 11.9702 7.34518 12.25 7 12.25C6.65482 12.25 6.375 11.9702 6.375 11.625ZM8.875 11.625V6.875C8.875 6.52982 9.15482 6.25 9.5 6.25C9.84518 6.25 10.125 6.52982 10.125 6.875V11.625C10.125 11.9702 9.84518 12.25 9.5 12.25C9.15482 12.25 8.875 11.9702 8.875 11.625ZM7 1.25C6.18361 1.25 5.48912 1.77176 5.23172 2.5H8.76828C8.51088 1.77176 7.81639 1.25 7 1.25Z' fill='white'/%3e%3c/svg%3e ");
}

.controlsRowDesktopInner {
    display: contents;
}

@media (max-width: 1280px) {
    .controlsRowDesktop {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        width: 100%;
        gap: 24px;
    }

    .controlsRowDesktopInner {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }

    .searchInputDesktopContainer {
        width: 100%;
    }

    .searchInputDesktopRoot,
    .searchInputDesktop,
    .searchInputDesktopInput {
        width: 100%;
    }

    /* .addServerButton {
        margin-left: 30px;
    } */

/* } */
/* @media (max-width: 1024px) { */
    .controlsRowDesktop {
        grid-template-columns: auto 1fr auto;
    }

    .filtersAndAddRow {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .legendRowMobile {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .filtersGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .legendItem {
        padding: 15px 16px 15px 12px;
    }

    .desktopTable {
        display: none;
    }

    .mobileCards {
        display: block;
    }
}

@media (max-width: 767px) {
    .addServerButton {
        width: 100% !important;
        max-width: 450px;
    }
}

.paginationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    margin-top: 24px;
    gap: 16px;
}

.paginationInfo {
    text-align: center;
}

@media (max-width: 767px) {
    .paginationContainer {
        padding: 16px 0;
        margin-top: 16px;
        gap: 12px;
    }
}