/* Desktop styles (default) */
.wrapper {
    display: flex;
    flex-direction: column;
}

.controlsRowDesktop {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 16px;
}

.legendGroup {
    display: flex;
    align-items: center;
    gap: 16px;
}

.legendItem {
    display: flex;
    align-items: center;
    min-height: 48px;
    min-width: 150px;
    padding: 15px 20px 15px 14px;
    gap: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    background: #fff;
    color: #676767;
    border-radius: 12px;
    border: 1px solid #fff;
    transition: .3s;
    cursor: pointer;
    box-sizing: border-box;
}

.filtersGroup {
    display: flex;
    gap: 8px;
}

.desktopTable {
    display: block;
    border-radius: 10px;
    border: 1px solid #CFCFCF;
    overflow: hidden;
}

.mobileCards {
    display: none;
}

.dotOnline,
.dotOffline,
.dotWarning {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dotOnline {
    background: #2ecc71;
}

.dotOffline {
    background: #e74c3c;
}

.dotWarning {
    background: #f39c12;
}

.controlsColumnMobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legendItem:hover,
.activeFilter {
    border-color: #000;
}


.thead {
    background: #CFCFCF;
}

.th {
    padding: 15px 30px !important;
    border-right: 1px solid rgba(103, 103, 103, 0.45);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1D1D1D;
    text-align: left;
}

.td {
    padding: 10px 30px 10px 20px !important;
    border: 1px solid #CFCFCF !important;
}

/* Tablet */
@media (max-width: 1024px) {
    .controlsRowDesktop {
        grid-template-columns: auto 1fr auto;
    }
    .controlsRowDesktop {
        display: none;
    }
    .controlsColumnMobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .filtersAndAddRow {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .legendRowMobile {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .filtersGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .desktopTable {
        display: none;
    }

    .mobileCards {
        display: block;
    }
}
